/*
 * Created:  Fang lungang
 * Modified: Fang lungang 11/06/2012 09:05>
 */

html { font-family: Times, serif; font-size: 12pt; }
  .title  { text-align: center; }
  .todo   { color: red; }
  .done   { color: green; }
  .tag    { background-color:lightblue; font-weight:normal }
  .target { }
  .timestamp { color: grey }
  .timestamp-kwd { color: CadetBlue }
  p.verse { margin-left: 3% }
  pre {
    border: 1pt solid #AEBDCC;
    background-color: #F3F5F7;
    font-size: 90%;
    overflow:auto;
  }
  table { border-collapse: collapse; }
  td, th { vertical-align: top; }
  dt { font-weight: bold; }
  div.figure { padding: 0.5em; }
  div.figure p { text-align: center; }
  .linenr { font-size:smaller }
  .code-highlighted {background-color:#ffff00;}
  .org-info-js_info-navigation { border-style:none; }
  #org-info-js_console-label { font-size:10px; font-weight:bold;
                               white-space:nowrap; }
  .org-info-js_search-highlight {background-color:#ffff00; color:#000000;
                                 font-weight:bold; }
.src, .example {
    background-color: #eee;
    box-shadow: 5px 5px 5px #888;
    border: none;
    padding: 5pt;
    margin-bottom: 14pt;
    color: black;
    padding: 12pt;
    overflow: auto;
}

body {
  color: #000000;
  background-color: #ffffff;
}

/* for muse */
.comment {
  /* font-lock-comment-face */
  color: #b22222;
}
.comment-delimiter {
  /* font-lock-comment-delimiter-face */
  color: #b22222;
}
.constant {
  /* font-lock-constant-face */
  color: #5f9ea0;
}
.doc {
  /* font-lock-doc-face */
  color: #bc8f8f;
}
.function-name {
  /* font-lock-function-name-face */
  color: #0000ff;
}
.keyword {
  /* font-lock-keyword-face */
  color: #a020f0;
}
.preprocessor {
  /* font-lock-preprocessor-face */
  color: #5f9ea0;
}
.string {
  /* font-lock-string-face */
  color: #bc8f8f;
}
.type {
  /* font-lock-type-face */
  color: #228b22;
}
.variable-name {
  /* font-lock-variable-name-face */
  color: #b8860b;
}


/*
 * a {
 *   color: #0000ff;
 *   background-color: inherit;
 *   text-decoration: underline;
 * }
 * a:hover {
 *   color: #0000ff;
 *   font-weight: bold;
 *   text-decoration: underline;
 * }
 */

.warning {
  /* font-lock-warning-face */
  color: #ff0000;
  font-weight: bold;
}

/* for org-mode, same as that for muse */
.org-comment {
  /* font-lock-comment-face */
  color: #b22222;
}
.org-comment-delimiter {
  /* font-lock-comment-delimiter-face */
  color: #b22222;
}
.org-constant {
  /* font-lock-constant-face */
  color: #5f9ea0;
}
.org-doc {
  /* font-lock-doc-face */
  color: #bc8f8f;
}
.org-function-name {
  /* font-lock-function-name-face */
  color: #0000ff;
}
.org-keyword {
  /* font-lock-keyword-face */
  color: #a020f0;
}
.org-preprocessor {
  /* font-lock-preprocessor-face */
  color: #5f9ea0;
}
.org-string {
  /* font-lock-string-face */
  color: #bc8f8f;
}
.org-type {
  /* font-lock-type-face */
  color: #228b22;
}
.org-variable-name {
  /* font-lock-variable-name-face */
  color: #b8860b;
}

.org-nxml-attribute-local-name {
  /* nxml-attribute-local-name */
  color: #b8860b;
}
.org-nxml-attribute-value {
  /* nxml-attribute-value */
  color: #bc8f8f;
}
.org-nxml-attribute-value-delimiter {
  /* nxml-attribute-value-delimiter */
  color: #bc8f8f;
}
.org-nxml-comment-content {
  /* nxml-comment-content */
  color: #b22222;
}
.org-nxml-comment-delimiter {
  /* nxml-comment-delimiter */
  color: #b22222;
}
.org-nxml-element-colon {
}
.org-nxml-element-local-name {
  /* nxml-element-local-name */
  color: #0000ff;
}
.org-nxml-element-prefix {
  /* nxml-element-prefix */
  color: #da70d6;
}
.org-nxml-namespace-attribute-colon {
}
.org-nxml-namespace-attribute-prefix {
  /* nxml-namespace-attribute-prefix */
  color: #b8860b;
}
.org-nxml-namespace-attribute-value {
  /* nxml-namespace-attribute-value */
  color: #bc8f8f;
}
.org-nxml-namespace-attribute-value-delimiter {
  /* nxml-namespace-attribute-value-delimiter */
  color: #bc8f8f;
}
.org-nxml-namespace-attribute-xmlns {
  /* nxml-namespace-attribute-xmlns */
  color: #da70d6;
}
.org-nxml-processing-instruction-delimiter {
}
.org-nxml-processing-instruction-target {
  /* nxml-processing-instruction-target */
  color: #a020f0;
}
.org-nxml-tag-delimiter {
}
.org-nxml-tag-slash {
}
.org-nxml-text {
}
